<div class="news-block container" ng-module="downloadModule">
    <div class="row">
        <div class="block-heading">
            <h2>LATEST RELEASES</h2>
                    <span class="border-image"> <img src="build/images/shape.svg" alt="image" class="svg" width="200"
                                                     height="200"/> </span>
        </div>
    </div>
    <h3 class="download_link">
        <a class="download_link" ng-href="{{ROUTES.latest_stable_client}}">Download latest stable client</a>
    </h3>
    <hr>
    <div ng-show="clients.$resolved">
        <div class="col-md-6 col-sm-6 col-xs-12 news-block-content">
            <h2>Clients</h2>
            <h5><i>Beta releases</i></h5>
            <hr>
            <div class="news-information clearfix" ng-repeat="client in clients" ng-show="$index < 7">
                <span class="news-date"> <strong>{{ client.releaseTimestamp * 1000 | date:'dd' }}</strong> {{ client.releaseTimestamp * 1000 | date:'MMM' }} </span>
                <div class="news-text">
                    <h4><a ng-href="{{downloadUrl + client.build}}" class="news-text-heading">
                        <span class="download_title">{{clients.stable == true ? "Stable" : "Beta"}} release: V{{client.version}}</span>
                    </a></h4>
                    <div class="news-social">
                        <a ng-href="{{downloadUrl + client.build}}" class="comment">
                            <i class="icon_download"></i>
                            <span>Download</span>
                        </a>
                        <a href="#" class="like">
                            <i class="icon_heart"></i>
                            <span>0</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12 news-block-content">
            <h2>Providers</h2>
            <h5><i>Developer releases</i></h5>
            <hr>
            <div class="news-information clearfix" ng-repeat="provider in providers" ng-show="$index < 7">
                <span class="news-date"> <strong>{{ provider.releaseTimestamp * 1000 | date:'dd' }}</strong> {{ provider.releaseTimestamp * 1000 | date:'MMM' }} </span>
                <div class="news-text">
                    <h4><a ng-href="{{downloadUrl + provider.build}}" class="news-text-heading">
                        <span ng-hide="clients.stable">Beta release: V{{provider.version}}</span>
                        <span ng-show="clients.stable">Stable release: V{{provider.version}}</span>
                    </a></h4>
                    <div class="news-social">
                        <a ng-href="{{downloadUrl + provider.build}}" class="comment">
                            <i class="icon_download"></i>
                            <span>Download</span>
                        </a>
                        <a href="#" class="like"><i class="icon_heart"></i><span>33</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-hide="clients.$resolved">
        <div ng-include="'views/parts/util/loader.html'"></div>
    </div>
</div>
</div>