<div class="nav-wrapper" ng-controller="SidebarManager">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>

        <li class="nav-title">
            <span>Navigation</span>
        </li>

        <li>
            <a md-button aria-label="meanu" href="/#!/dashboard">
                <i class="fa fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>

        <li ng-show="isScriptWriter()">
            <a md-button aria-label="meanu" href="/#!/scripts/list">
                <i class="zmdi zmdi-library"></i>
                <span>Your scripts</span>
            </a>
            <ul>
                <li>
                    <a md-button aria-label="meanu" href="/#!/scripts/list">
                        <i class="fa fa-circle"></i>List
                    </a>
                </li>
                <li>
                    <a md-button aria-label="meanu" href="/#!/scripts/create">
                        <i class="fa fa-circle"></i>Add
                    </a>
                </li>
            </ul>
        </li>

        <li ng-show="isServerDeveloper()">
            <a md-button aria-label="meanu" href="/#!/servers/list">
                <i class="fa fa-list"></i>
                <span>Servers</span>
            </a>
            <ul>
                <li>
                    <a md-button aria-label="meanu" href="/#!/servers/list">
                        <i class="fa fa-circle"></i>List
                    </a>
                </li>
                <li>
                    <a md-button aria-label="meanu" href="/#!/servers/create">
                        <i class="fa fa-circle"></i>Add
                    </a>
                </li>
            </ul>
        </li>

        <li ng-show="isAdmin()">
            <a md-button aria-label="meanu" href="/#!/users/list">
                <i class="fa fa-users"></i>
                <span>Users</span>
            </a>
            <ul>
                <li>
                    <a md-button aria-label="meanu" href="/#!/users/list">
                        <i class="fa fa-circle"></i>List
                    </a>
                </li>
            </ul>
        </li>

        <li ng-show="isAdmin()">
            <a md-button aria-label="meanu" href="/#!/ui"><i class="zmdi zmdi-card-giftcard"></i>
                <span><span>Material</span>UI</span>
            </a>
            <ul>
                <li>
                    <a md-button aria-label="meanu" href="/#!/ui/typography"><i class="fa fa-circle"></i>
                        <span>Typography</span>
                    </a>
                </li>
                <li>
                    <a md-button aria-label="meanu" href="/#!/ui/buttons"><i class="fa fa-circle"></i>
                    <span>Buttons</span>
                </a>
                </li>
                <li><a md-button aria-label="meanu" href="/#!/ui/icons"><i class="fa fa-circle"></i><span
                        >Icons</span> <span class="badge badge-info">3</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/ui/lists"><i class="fa fa-circle"></i><span
                        >Lists</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/ui/components"><i class="fa fa-circle"></i><span
                        >Components</span> <span class="badge badge-danger">24</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/ui/cards"><i class="fa fa-circle"></i><span
                        >Cards</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/ui/pricing-tables"><i class="fa fa-circle"></i><span
                        >Pricing tables</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/ui/timeline"><i class="fa fa-circle"></i><span
                        >Timeline</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/map/maps"><i class="fa fa-circle"></i><span
                        >Maps</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/ui/grids"><i class="fa fa-circle"></i><span
                        >Grids</span></a></li>
            </ul>
        </li>

        <li ng-show="isAdmin()">
            <a md-button aria-label="meanu" href="/#!/page"><i class="zmdi zmdi-pages"></i><span
                    >Pages</span></a>
            <ul>
                <li><a md-button aria-label="meanu" target="_blank"
                       href="http://iarouse.com/dist-material-design-admin/landing/index.html"><i
                        class="fa fa-circle"></i><span>Landing page</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/page/signin"><i class="fa fa-circle"></i><span
                        >Sign in</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/page/signup"><i class="fa fa-circle"></i><span
                        >Sign up</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/page/forgot-password"><i class="fa fa-circle"></i><span
                        >Forgot password</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/page/profile"><i class="fa fa-circle"></i><span
                        >User profile</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/page/invoice"><i class="fa fa-circle"></i><span
                        >Invoice</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/page/404"><i class="fa fa-circle"></i>404 <span
                        >Error</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/page/500"><i class="fa fa-circle"></i>500 <span
                        >Error</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/page/blank"><i class="fa fa-circle"></i><span
                        >Blank page</span></a></li>
            </ul>
        </li>

        <li ng-show="isAdmin()">
            <a md-button aria-label="meanu" href="/#!/table"><i class="zmdi zmdi-view-list"></i><span
                    >Tables</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="/#!/table/static"><i class="fa fa-circle"></i><span
                        >Static tables</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/table/responsive"><i class="fa fa-circle"></i><span
                        >Responsive tables</span> <span class="badge badge-info">2</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/table/dynamic"><i class="fa fa-circle"></i><span
                        >Dynamic tables</span></a></li>
            </ul>
        </li>

        <li ng-show="isAdmin()">
            <a md-button aria-label="meanu" href="/#!/form"><i class="zmdi zmdi-edit"></i><span
                    >Forms</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="/#!/form/elements"><i class="fa fa-circle"></i><span
                        >Form elements</span> <span class="badge badge-info">15</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/form/validation"><i class="fa fa-circle"></i><span
                        >Form validation</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/form/wizard"><i class="fa fa-circle"></i><span
                        >Form wizard</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/form/layouts"><i class="fa fa-circle"></i><span
                        >Form layouts</span></a></li>
            </ul>
        </li>

        <li ng-show="isAdmin()">
            <a md-button aria-label="meanu" href="/#!/chart"><i class="zmdi zmdi-chart"></i><span
                    >Charts</span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="/#!/chart/echarts-line"><i class="fa fa-circle"></i>ECharts -
                    <span>Line</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/chart/echarts-bar"><i class="fa fa-circle"></i>ECharts -
                    <span>Bar</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/chart/echarts-pie"><i class="fa fa-circle"></i>ECharts -
                    <span>Pie</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/chart/echarts-scatter"><i class="fa fa-circle"></i>ECharts -
                    <span>Scatter</span></a></li>
                <li><a md-button aria-label="meanu" href="/#!/chart/echarts-more"><i class="fa fa-circle"></i>ECharts -
                    <span>More</span></a></li>
            </ul>
        </li>
    </ul>
</div>