<div class="page" data-ng-controller="ServerCtrl">
    <a ng-href="{{backURL}}">
        <span>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Servers overview
        </span>
    </a>
    <div class="row ui-section">
        <div class="col-lg-8 clearfix"><h2 class="section-header">{{server.name}}</h2></div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form">
                                <div layout-padding>
                                    <form name="serverForm" ng-submit="processCreateForm()">
                                        <h4>Information</h4>
                                        <div class="divider divider-md"></div>

                                        <div layout layout-sm="column" ng-hide="server !== null && server.id == null">
                                            <md-input-container flex>
                                                <label>Server ID</label>
                                                <input ng-model="server.id" disabled required>
                                            </md-input-container>
                                        </div>

                                        <md-input-container class="md-block">
                                            <label>Name</label>
                                            <input ng-model="server.name" type="text" required>
                                        </md-input-container>

                                        <md-input-container class="md-block">
                                            <label>Version</label>
                                            <input ng-model="server.version" type="number" required step="0.01">
                                        </md-input-container>

                                        <md-input-container class="md-block">
                                            <label>Description</label>
                                            <textarea ng-model="server.description" columns="1"
                                                      md-maxlength="1000" required></textarea>
                                        </md-input-container>

                                        <div class="divider divider-xl"></div>
                                        <h4>Authors</h4>
                                        <div class="divider divider-md"></div>
                                        <div>
                                            <div layout layout-sm="column" ng-repeat="x in server.authors">
                                                <md-input-container flex>
                                                    <label>Username</label>
                                                    <input ng-model="x.username">
                                                </md-input-container>
                                                <md-button ng-click="removeAuthor(x.username)"
                                                           class="md-icon-button md-warn" aria-label="headphones"><span
                                                        class="fa fa-remove"></span></md-button>
                                            </div>

                                            <md-button ng-click="addAuthor()" ng-disabled="server == null"
                                                       style=" float:right;"
                                                       class="md-raised btn-w-md md-accent">Add author
                                            </md-button>
                                        </div>

                                        <div class="divider divider-xl"></div>
                                        <h4>Groups</h4>
                                        <p>User groups that have access to this server</p>
                                        <div class="divider divider-md"></div>
                                        <div>
                                            <div layout layout-sm="column" ng-repeat="x in server.groups">
                                                <md-input-container class="full-width">
                                                    <label>Group</label>
                                                    <md-select ng-model="x.id" aria-label="select">
                                                        <md-option ng-repeat="group in possibleGroups"
                                                                   value="{{group.id}}">
                                                            {{group.name}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                <md-button ng-click="removeGroup(x.id)" class="md-icon-button md-warn"
                                                           aria-label="headphones"><span
                                                        class="fa fa-remove"></span></md-button>
                                            </div>

                                            <md-button ng-click="addGroup()" ng-disabled="possibleGroups == null"
                                                       style=" float:right;"
                                                       class="md-raised btn-w-md md-accent">Add group
                                            </md-button>
                                        </div>

                                        <div class="divider divider-xl"></div>
                                        <h4>Details</h4>
                                        <div class="divider divider-md"></div>
                                        <div>
                                            <div layout layout-sm="column" ng-repeat="x in server.details">
                                                <md-input-container flex>
                                                    <label>Name</label>
                                                    <input ng-model="x.name">
                                                </md-input-container>
                                                <md-input-container flex>
                                                    <label>Value</label>
                                                    <input ng-model="x.value">
                                                </md-input-container>
                                                <md-button ng-click="removeDetailsRow(x.name)" class="md-icon-button md-warn" aria-label="headphones"><span
                                                        class="fa fa-remove"></span></md-button>
                                            </div>

                                            <md-button ng-click="addDetailsRow()" ng-disabled="server == null" style="float:right;"
                                                       class="md-raised btn-w-md md-accent">Add row
                                            </md-button>
                                        </div>

                                        <md-button ng-disabled="waiting == true" type="submit"
                                                   class="md-raised btn-w-md md-primary">
                                            Submit
                                        </md-button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>