<div class="page" data-ng-controller="HookCtrl">
    <a ng-href="{{backURL}}">
        <span>
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
            Servers overview
        </span>
    </a>
    <div class="row ui-section">
        <div class="col-lg-12 clearfix"><h2 class="section-header">{{name}}</h2></div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <h4>Client</h4>
                            <input type="file" id="file" name="file"/>
                            <br/>
                            <md-button ng-click="updateClient()" class="md-raised btn-w-md md-primary">Update client</md-button>
                        </div>
                        <div class="col-lg-12">
                            <hr/>
                            <div layout="column" ng-cloak class="md-inline-form">
                                <div layout-padding>
                                    <form name="hooksForm" ng-submit="processForm()">
                                        <h4>Hooks</h4>
                                        <div class="divider divider-md"></div>

                                        <div ng-repeat="(key, values) in hooks">
                                            <h5 class="capitalize">{{key}}</h5>
                                            <div layout layout-sm="column" ng-repeat="(hType, value) in values">
                                                <!--<md-button ng-click="removeHooksRow(key, value.id)"-->
                                                           <!--class="md-icon-button md-warn" aria-label="headphones"><span-->
                                                        <!--class="fa fa-minus"></span></md-button>-->
                                                <md-input-container ng-repeat="(k, type) in value">
                                                    <label>{{k}}</label>
                                                    <input ng-model="value[k]" ng-disabled="true || k == 'id'">
                                                </md-input-container>
                                            </div>
                                        </div>

                                        <md-button ng-click="addHooksRow()" style="float: right"
                                                   class="md-raised btn-w-sm md-info">
                                            Add hooks
                                        </md-button>

                                        <md-button ng-disabled="waiting == true" type="submit"
                                                   class="md-raised btn-w-md md-primary">
                                            Submit
                                        </md-button>

                                        <div style="padding-top: 25px;">
                                        <textarea ng-model="xmlHooks" ng-show="addHook == true" name="hooks" class="form-control" rows="25" data-gramm="true"
                                                  spellcheck="false" data-gramm_editor="true"
                                                  style="z-index: auto; position: relative; line-height: 15px; font-size: 14px; transition: none; background: transparent !important;"></textarea>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </section>
        </div>
    </div>
</div>