<div class="page page-table" data-ng-controller="ServersCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Servers</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Version</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody ng-show="servers.length > 0">
                            <tr ng-repeat="x in servers">
                                <td>{{ x.ID }}</td>
                                <td>
                                    <a ng-href="{{serverURL}}{{x.ID}}">{{ x.name }}</a>
                                </td>
                                <td>{{ x.version }}</td>
                                <td>
                                    <span ng-if="x.status == 'active'" class="label label-success">{{ x.status }}</span>
                                    <span ng-if="x.status == 'inactive'"
                                          class="label label-success">{{ x.status }}</span>
                                    <span ng-if="x.status != 'active' && x.status != 'inactive'"
                                          class="label label-warning">{{ x.status }}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>