RewriteEngine on

# Don't rewrite files or directories
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]


# Rewrite everything else to index.html to allow html5 state links
RewriteCond %{REQUEST_URI} !.*\.(map)
RewriteRule ^ index.html [L]