<div class="page page-table" data-ng-controller="ScriptsCtrl">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Your scripts</h2>
        </div>
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table no-margin">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Status</th>
                                <th>Stars</th>
                            </tr>
                            </thead>
                            <tbody ng-show="scripts.length > 0">
                            <tr ng-repeat="x in scripts">
                                <td>{{ x.id }}</td>
                                <td><a ng-href="{{scriptURL}}{{x.id}}">{{ x.name }}</a></td>
                                <td>
                                    <span ng-if="x.active" class="label label-success">Active</span>
                                    <span ng-if="!x.active" class="label label-danger">Inactive</span>
                                </td>
                                <td><a ng-href="{{reviewsURL}}{{x.id}}">{{ x.averageReviewStars }}</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>