<div ng-module="headerModule">
    <div ng-controller="headerCtrl">
        <div class="top-header hidden-xs">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-xs-12">
                        <ul class="top-header-right clearfix">
                            <!-- Temporary hidden account
                            <li class="profile">
                                <a href="#"><i class="icon_profile"></i>My Account </a>
                            </li>
                            -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="middle-header">
            <div class="container">
                <div class="row clearfix">
                    <div class="col-xs-12 middle-header-content">
                        <!-- Temporary hidden search box
                        <div class="middle-header-left">
                            <form class="clearfix">
                                <input type="text" name="search" placeholder="Search... "/>
                                <button type="submit">
                                    <i class="icon_search"></i>
                                </button>
                            </form>
                        </div>
                        -->

                        <!-- Temporary hidden cart
                        <div class="middle-header-right clearfix">
                            <div class="open-cart">
                                <i class="icon_bag_alt"></i>
                                <span class="item-count"> {{cart_items.length}} Item(s) - <strong>${{cart_items_amount}}</strong> <i
                                        class="arrow_carrot-down"></i></span>
                            </div>
                            <div class="item-block">
                                <ul class="item-list">
                                    <li ng-repeat="item in cart_items">
                                        <figure class="item-image">
                                            <a href="#">
                                                <img ng-src="{{item.image}}" alt="t-shirt"/>
                                            </a>
                                        </figure>
                                        <div class="item-description">
                                            <h4><a href="#" class="item-name">{{item.name}}</a></h4>
                                            <span class="review-icon clearfix"> <i class="icon_star active"></i> <i
                                                    class="icon_star active"></i> <i class="icon_star active"></i> <i
                                                    class="icon_star active"></i> <i class="icon_star"></i> </span>
                                            <span class="price">${{item.price}}</span>
                                        </div>
                                        <span class="delete fa fa-trash"> </span>
                                    </li>
                                </ul>
                                <div class="total-amount clearfix">
                                    <span class="total">Total</span>
                                    <span class="amount">${{cart_items_amount}}</span>
                                </div>
                                <div class="butn-group clearfix">
                                    <a href="#" class="cart">VIEW CART</a>
                                    <a href="#" class="checkout">CHECKOUT</a>
                                </div>
                            </div>
                        </div>
                        -->
                        <a href="/" class="logo">
                            <img src="build/images/logo-banner.png" alt="Parabot"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <nav class="navigation">
            <div class="container">
                <div id="cssmenu">
                    <a href="javascript:void(0);" class="main-menu menu-image"></a>
                    <ul class="menu-links">
                        <li class="active has-sub">
                            <a href="/">Home</a>
                            <i class="fs1 mmenu eicon visible-xs" data-icon="3"></i>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">Temp</a>
                                </li>
                                <li>
                                    <a href="#">Temp</a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/downloads">DOWNLOADS</a>
                        </li>
                        <li>
                            <a href="#">SCRIPTS</a>
                        </li>
                        <li>
                            <a href="#">ACCOUNT</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                        <li>
                            <a href="#">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>